<div class="adminContainer">
    <mat-list>
        <mat-list-item mat-ripple [routerLink]="['/admin/settings/admin_manager']">
            <mat-icon mat-list-icon>manage_accounts</mat-icon>
            <h2 mat-line><b>Administrador de admins</b></h2>
            <p mat-line>Configura los admins que pueden ingresar</p>
            <mat-divider></mat-divider>
        </mat-list-item>
        <mat-list-item mat-ripple>
            <mat-icon mat-list-icon>notifications</mat-icon>
            <h2 mat-line><b>Configuración de notificaciones</b></h2>
            <p mat-line>Configura las alertas</p>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

</div>