<div class="containerShoppingCart">
    <h1>Carrito de compras (2)</h1>

    <div class="shoppingCartList">

        <!--Item del carrito de compras-->
        <div class="shoppingCartItemList">

            <div class="itemImageBox">
                <img src="img/product1.jpg" alt="producto1">
            </div>

            <div class="itemTitleColor">
                <h3 class="itemTitle">Crema para las manos</h3>
                <span class="itemColorTitle">Color: </span>
                <span class="itemColor"></span>
            </div>

            <div class="itemQuantity">
                <input value="1" type="number" name="" id="#quantitySelected" class="itemQuantitySelected">
            </div>

            <span class="itemTotalPrice">$12.000 COP</span>

            <button class="btn btnDelete"><i class="material-icons">delete</i></button>

        </div>
        <!--Fin item del carrito de compras-->

        <!--Item del carrito de compras-->
        <div class="shoppingCartItemList">

            <div class="itemImageBox">
                <img src="img/product2.jpg" alt="producto1">
            </div>

            <div class="itemTitleColor">
                <h3 class="itemTitle">Perfume N°3 CHANEL</h3>
               
            </div>

            <div class="itemQuantity">
                <input value="1" type="number" name="" id="#quantitySelected" class="itemQuantitySelected">
            </div>

            <span class="itemTotalPrice">$20.000 COP</span>

            <button class="btn btnDelete"><i class="material-icons">delete</i></button>

        </div>
        <!--Fin item del carrito de compras-->

    </div>

    <div class="sum">
        <span class="sumTitle subTotal">Subtotal </span>
        <span class="sumValue subTotalValue">$32.000 COP</span>
    </div>

    <div class="sum">
        <span class="sumTitle shippingPrice">Costo de envío </span>
        <span class="sumValue shippingPriceValue">$10.000 COP</span>
    </div>

    <div class="sum sumTotal">
        <span class="sumTitle total">Total </span>
        <span class="sumValue totalValue">$42.000 COP</span>
    </div>

    <input type="button" class="btn btnCheckout" value="Realizar pedido">
</div>