<div *ngIf="(shoppingCart.length > 0); else noitems" class="containerShoppingCart">
    <h1>Carrito de compras ({{shoppingCart.length}})</h1>

    <div class="shoppingCartList">

        <!--Item del carrito de compras-->
        <div *ngFor="let shoppingCartItem of shoppingCart" class="shoppingCartItemList">

            <div class="itemImageBox">
                <img src="{{shoppingCartItem.productImg}}" alt="producto1">
            </div>

            <div class="itemTitleColor">
                <h3 class="itemTitle">{{shoppingCartItem.productName}}</h3>
                <span class="itemColorTitle">Color: </span>
                <span class="itemColor"></span>
            </div>

            <div class="itemQuantity">
                <input disabled value="{{shoppingCartItem.productQty}}" type="number" name="" id="#quantitySelected" class="itemQuantitySelected">
            </div>

            <span class="itemTotalPrice">${{shoppingCartItem.productTotal}} COP</span>

            <button (click)="deleteItem(shoppingCartItem.productId)" class="btn btnDelete"><i class="material-icons">delete</i></button>

        </div>
        <!--Fin item del carrito de compras-->

    </div>

    <div class="sum">
        <span class="sumTitle subTotal">Subtotal </span>
        <span class="sumValue subTotalValue">${{subtotal}} COP</span>
    </div>

    <div class="sum">
        <span class="sumTitle shippingPrice">Costo de envío </span>
        <span class="sumValue shippingPriceValue">${{shippingCost}} COP</span>
    </div>

    <div class="sum sumTotal">
        <span class="sumTitle total">Total </span>
        <span class="sumValue totalValue">${{total}} COP</span>
    </div>

    <button class="btn btnCheckout" (click)="realizarPedido()">Realizar pedido</button>


</div>

<ng-template #noitems>
    <h2 class="noHaveItemsMsj">No tienes nada en tu carrito de compras</h2>
    <span class="noHaveItemsMsj2">Revisa nuestro catalogo por si te interesa algo</span>
</ng-template>
