<div class="container">
    <footer>
        <div class="footer-content footer1">
            <p class="title">MP Beauty Cosmetics</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="footer-content social">
            <p class="title">Siguenos</p>
            <div class="networks">
                <a href="https://web.facebook.com/mpbeautyc1">
                    <img class="network" src="../../../assets/fb.png">
                </a>

                <a href="https://www.instagram.com/mpbeauty05/">
                    <img class="network" src="../../../assets/ig.png">
                </a>
            </div>
        </div>
    </footer>
</div>