<div class="aboutContainer">
    <h2>Acerca de nosotros</h2>
    <div class="aboutsection">
        <div class="about about1">
            <img class="aboutimg" src="../../../assets/about1.png">
            <p class="title">Productos de buena calidad</p>
            <p class="text">Los mejores productos de los mejores proveedores, anímate a comprar, confia en nosotros.</p>
        </div>
        <div class="about about2">
            <img class="aboutimg" src="../../../assets/about2.png">
            <p class="title">Buena atención al cliente</p>
            <p class="text">Respondemos ante cualquier inquietud e inconveniete que se presente, nuestro compromiso con el cliente es prioritario.</p>
        </div>
        <div class="about about3">
            <img class="aboutimg" src="../../../assets/about3.png">
            <p class="title">Entrega de productos a tiempo</p>
            <p class="text">Nuestros productos son entregados lo mas rápido posible, para que el cliente tenga una buena experiencia y pueda disfrutar de sus productos a tiempo.</p>
        </div>
    </div>
</div>