<div class="aboutContainer">
    <h2>Acerca de nosotros</h2>
    <div class="aboutsection">
        <div class="about about1">
            <img class="aboutimg" src="../../../assets/about1.png">
            <p class="title">Buena atención al cliente</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="about about2">
            <img class="aboutimg" src="../../../assets/about2.png">
            <p class="title">Entrega de productos a tiempo</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
        <div class="about about3">
            <img class="aboutimg" src="../../../assets/about3.png">
            <p class="title">Productos de buena calidad</p>
            <p class="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
</div>