<div class="historyOrders">
        <h2 class="title">Historial de pedidos</h2>

        <!--Item de orden entregado-->
        <a href="#" class="orderItem">
            <span class="orderDate"> entregado el 12/12/12</span>
            <div class="imgAndInfo">
                <div class="imgBox">
                    <img src="./img/placeholder.png" alt="">
                </div>
                <div class="orderInfo">
                    <span class="orderStatus shipped">
                        Entregado
                    </span>
                    <div class="productsList">
                        <div class="productNameAndQuantity">
                            <span class="productName">Perfume Chanel</span> <span class="productQuantity"> x 1</span> 
                        </div>
                        <div class="productNameAndQuantity">
                            <span class="productName">Crema para las manos</span> <span class="productQuantity"> x 4</span>
                        </div>
                        <span class="productName"> y 3 más</span>
                    </div>
                    <span class="orderPrice"> $12.000 COP</span>
                    

                </div>
                    <button class="btnDetails">Mas detalles</button>
            </div>

        </a>
        <!--Fin de item de orden entregado-->

        <!--Item de orden cancelado-->
        <a href="#" class="orderItem">
            <span class="orderDate"> cancelado el 12/12/12</span>
            <div class="imgAndInfo">
                <div class="imgBox">
                    <img src="./img/placeholder.png" alt="">
                </div>
                <div class="orderInfo">
                    <span class="orderStatus canceled">
                        Cancelado
                    </span>
                    <div class="productsList">
                        <div class="productNameAndQuantity">
                            <span class="productName">Perfume Chanel</span> <span class="productQuantity"> x 1</span> 
                        </div>
                        <div class="productNameAndQuantity">
                            <span class="productName">Crema para las manos</span> <span class="productQuantity"> x 4</span>
                        </div>
                        <span class="productName"> y 3 más</span>
                    </div>
                    <span class="orderPrice"> $12.000 COP</span>
                    

                </div>
                    <button class="btnDetails">Mas detalles</button>
            </div>

        </a>
        <!--Fin de item de orden pendiente-->

    </div>