<div class="orderListContainer">
    <div *ngIf="pedidos" class="pendingOrders">
        <h2 class="title">Pedidos ({{pedidos.length}})</h2>
        <!--Item de orden pendiente-->
        <a *ngFor="let pedido of pedidos" (click)="goToPedido(pedido._id)" class="orderItem">
            <span class="orderDate">realizado el {{pedido.createdAt}}</span>
            <div class="imgAndInfo">
                <div class="imgBox">
                    <img src="{{pedido.products[0].imgUrl}}" alt="">
                </div>
                <div class="orderInfo">
                    <span class="orderStatus pending">
                        {{pedido.status}}
                    </span>
                    <div class="productsList">
                        <div class="productNameAndQuantity">
                            <span class="productName">{{pedido.products[0].productName}}</span> <span class="productQuantity"> x {{pedido.products[0].quantity}}</span> 
                        </div>
                        <div *ngIf="pedido.products.length > 1" class="productNameAndQuantity">
                            <span class="productName">{{pedido.products[1].productName}}</span> <span class="productQuantity"> x {{pedido.products[1].quantity}}</span>
                        </div>
                        <span *ngIf="pedido.products.length > 2" class="productName"> y {{pedido.products.length-2}} más</span>
                    </div>
                    <span class="orderPrice"> ${{pedido.netTotal}} COP</span>
                    

                </div>
                    <button class="btnDetails">Mas detalles</button>
            </div>

        </a>
        <!--Fin de item de orden pendiente-->
    </div>
    
    
</div>