.title{
    padding: 12px 0 12px 24px;
    display: block;
    box-sizing: border-box;
    margin:0;
    margin-right: auto;
    font-size: 20px;
}

.subContainer{
    max-width: 1000px;
    margin:0 auto;
}

.imgProduct{
    width: 100%;
    border-radius: 5px;
}

.imgBox{
    width:100%;
    padding-left:8px;
    margin-bottom: 10px;
}

.productName{
    width: 100%;
}

.productDescription{
    height: 100px;
}


.mat-form-field{
    margin-left:8px;
    width: 100%;
}

.mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }

  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
}

.productDiscount{
    text-align: right;
}

.btnAddProduct{
    margin: 10px 0 10px auto;
    display: block;
}


@media(min-width:585px){



    .productBrandAndCategory{
        display: flex;
    }


    .imgProduct{
        width: 100%;
    }



    .info{
        width: 70%;
    }

    .imgBox{
        width:30%
    }
}

@media(min-width:817px){
    .photoAndInfo{
        display: flex;
    }
}

@media(min-width:830px){
    .priceAndDiscount{
        display: flex;
    }
}