<div class="contactContainer"> 
	<h2>Contacto</h2>
	<div class="nameMail">
		<mat-form-field class="formNombre" appearance="fill">
	  		<mat-label>Nombre</mat-label>
	  		<input matInput>
		</mat-form-field>
		<mat-form-field class="formCorreo" appearance="fill">
	  		<mat-label>Correo</mat-label>
	  		<input matInput>
		</mat-form-field>

	</div>
	<div class="message">
		<mat-form-field class="formMessage" appearance="fill">
		  <mat-label>Mensaje</mat-label>
		  <textarea matInput></textarea>
		</mat-form-field>
	</div>
	<button class="btnContact">Enviar</button>
</div>