<div class="container">   
    <div *ngIf="productos" class="searchContainer">
        <aside class="titleAndFilter">
            <div class="searchResultTitle">
                <h1 class="searchName">Productos</h1>
                <span class="searchQuantity">{{productos.length}} productos</span>
            </div>

            <div class="filterSection">
                <div class="categoryFilter">
                    <label>Categoría</label>
                    <select name="filtroCategoria">
                        <option value="0" selected>Todas...</option>
                        <option value="1">Cremas</option>
                        <option value="2">Pomadas</option>
                        <option value="3">Shampoo</option>
                        <option value="4">Colonias</option>
                    </select>
                </div>
                <div class="brandFilter">
                    <label>Marca</label>
                    <select name="filtroMarca">
                        <option value="0" selected>Todas...</option>
                        <option value="1">Avon</option>
                        <option value="2">Chanel</option>
                    </select>
                </div>
            </div>
        </aside>    
        <div class="resultSection">
            
            <!--Objeto de la lista de resultados-->
            <a *ngFor="let producto of productos" class="resultSectionItem" [routerLink]="['/product',producto._id]">

                <div class="itemImageBox">
                    <img src="{{producto.imgUrl}}" alt="{{producto.name}}">
                </div>
                <div class="titlePrice">
                    <h2 class="itemTitle">{{producto.name}}</h2>
                    <span class="itemPrice">${{producto.actualPrice}} COP </span>
                    <span *ngIf="producto.discount > 0" class="itemDiscount">{{producto.discount}}%</span>
                </div>
            </a>
            <!--Fin objeto de la lista de resulta2-->

        </div>
    </div>
</div>	