<div *ngIf="pedido" class="orderDetailsContainer">
    <div *ngIf="pedido[0].status == 'Cancelado' else pedidoPendiente"  class="progressInformation">
        <div class="progressBar">
            <div class="progressBarBubble">
                <i class="material-icons cancel">close</i>
                <span class="bubbleTitle">Recibido</span>
            </div>
            <div class="progressBarBubble">
                <div class="line cancel"></div>
                <i class="material-icons cancel">close</i>
                <span class="bubbleTitle">Preparando</span>
            </div>
            <div class="progressBarBubble">
                <div class="line cancel"></div>
                <i class="material-icons cancel">close</i>
                <span class="bubbleTitle">En camino</span>
            </div>
            <div class="progressBarBubble">
                <div class="line cancel"></div>
                <i class="material-icons cancel">close</i>
                <span class="bubbleTitle">Entregado</span>
            </div>
        </div>
        <img src="../../../assets/cancel.svg" alt="">
        <span class="statusTitle">Pedido cancelado</span>
        <span class="statusSubtitle">Su pedido ha sido cancelado, lamentamos los inconvenientes</span>
    </div>
    <!--INFORMACIÓN DE LOS PRODUCTOS-->
    <div class="orderInformation">
        <div class="idDateAndCosts">
            <div class="orderIdDate">
                <span class="orderInformationId">ID del pedido - {{pedido[0]._id}}</span>
                <span class="orderInformationDate">Pedido realizado el {{pedido[0].createdAt}}</span>
                <!--<span class="orderInformationDate">Este pedido aún no ha sido Entregado</span>-->
            </div>
            <div class="orderInformationCosts">
                <div class="titleAndPrice">
                    <span class="productsPriceTitle">Productos </span><span class="productsPrice">${{pedido[0].productsTotal}} COP</span>
                </div>
                <div class="titleAndPrice">
                    <span class="productsPriceTitle">Costo de envío </span><span class="productsPrice">${{pedido[0].shippingCost}} COP</span>
                </div>
                <div class="totalAndPrice">
                    <span class="totalPriceTitle">Total </span><span class="totalPrice">${{pedido[0].netTotal}} COP</span>
                </div>
            </div>
        </div>
        <div class="orderProductsList">
            <!--Inicio ITEM DE LA LISTA DE PRODUCTOS-->
            <div *ngFor="let producto of pedido[0].products" class="orderProductItem">
                <div class="imgBox">
                    <img src="{{producto.imgUrl}}" alt="">
                </div>
                <div class="productInfo">
                    <span class="productTitle">{{producto.productName}}</span>
                    <span class="productOldPrice">${{producto.oldPrice}} COP</span>
                    <div class="productPriceAndQuantity">
                        <span class="productActualPrice">${{producto.actualPrice}} COP</span><span *ngIf="producto.discount > 0" class="discount"> %{{producto.discount}}</span><span class="productQuantity"> x {{producto.quantity}}</span>
                    </div>
                    <span class="productColorTitle">Color: </span> <span class="color"></span>
                </div>
            </div>
            <!--fin ITEM DE LA LISTA DE PRODUCTOS-->
        </div>
        <button (click)="cancelarPedido();" class="btnCancelOrder">Cancelar pedido</button>
    </div>
</div>

<ng-template #pedidoPendiente>
    <div *ngIf="pedido[0].status == 'Pendiente' else pedidoPreparacion"  class="progressInformation">
        <div class="progressBar">
            <div class="progressBarBubble">
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Recibido</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">Preparando</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">En camino</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">Entregado</span>
            </div>
        </div>
        <img src="../../../assets/checklist.svg" alt="">
        <span class="statusTitle">Pedido enviado</span>
        <span class="statusSubtitle">Muy pronto su pedido será atendido por uno de nuestros empleados.</span>
    </div>
</ng-template>

<ng-template #pedidoPreparacion>
    <div *ngIf="pedido[0].status == 'En preparación' else pedidoCamino"  class="progressInformation">
        <div class="progressBar">
            <div class="progressBarBubble">
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Recibido</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Preparando</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">En camino</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">Entregado</span>
            </div>
        </div>
        <img src="../../../assets/box.svg" alt="">
        <span class="statusTitle">Preparando pedido</span>
        <span class="statusSubtitle">Su pedido está siendo atendido por nuestros empleados.</span>
    </div>
</ng-template>

<ng-template #pedidoCamino>
    <div *ngIf="pedido[0].status == 'En camino' else pedidoEntregado"  class="progressInformation">
        <div class="progressBar">
            <div class="progressBarBubble">
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Recibido</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Preparando</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">En camino</span>
            </div>
            <div class="progressBarBubble">
                <div class="line"></div>
                <i class="material-icons">more_horiz</i>
                <span class="bubbleTitle">Entregado</span>
            </div>
        </div>
        <img src="../../../assets/delivery.svg" alt="">
        <span class="statusTitle">Pedido en camino</span>
        <span class="statusSubtitle">Su pedido está en camino a su domicilio.</span>
    </div>
</ng-template>

<ng-template #pedidoEntregado>
    <div *ngIf="pedido[0].status == 'Entregado'"  class="progressInformation">
        <div class="progressBar">
            <div class="progressBarBubble">
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Recibido</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Preparando</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">En camino</span>
            </div>
            <div class="progressBarBubble">
                <div class="line active"></div>
                <i class="material-icons active">check</i>
                <span class="bubbleTitle">Entregado</span>
            </div>
        </div>
        <img src="../../../assets/house.svg" alt="">
        <span class="statusTitle">Pedido entregado</span>
        <span class="statusSubtitle">Disfruta de tu pedido, gracias por confiar en nosotros.</span>
    </div>
</ng-template>