/* You can add global styles to this file, and also import other style files */

.container{
    padding: 100px 30px 20px 30px;
}

.adminContainer{
    background-color: #e3e3e3;
    padding: 56px 0 100% 72px;
    box-sizing: border-box;
}

.loadMatSpinner{
    margin: 200px auto;
    
}

@media (max-width: 560px){
    .container{
        padding: 48px 10px 20px 10px;
    }
}

@media (max-width: 425px){
    .adminContainer{
        background-color: #e3e3e3;
        padding: 56px 0 0 0;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
