/* You can add global styles to this file, and also import other style files */

.container{
    padding: 100px 30px 20px 30px;
}

.adminContainer{
    background-color: #e3e3e3;
    padding: 56px 0 0px 72px;
}

@media (max-width: 560px){
    .container{
        padding: 48px 10px 20px 10px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
